/* You can add global styles to this file, and also import other style files */
//@import "normalize";
@import "_angular-material";

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.mat-tab-group.mat-primary .mat-ink-bar, 
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #412C89;
    height: 3px;
}

.mat-tab-group {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.mat-tab-label {
    height: 35px;
    padding: 0 .3rem;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 70px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    border-bottom: 3px solid #747474;
    margin: 0 2px;
}

div.mat-tab-label, .mat-tab-link {
    font-family: Proxima Extra Regular, Roboto, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.mat-tab-group.mat-primary .mat-tab-label.cdk-keyboard-focused:not(.mat-tab-disabled) {
    background-color: #DDDDDD;
}

.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: none;
}

span.mat-tab-item {
    text-transform: uppercase;
}